@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');
$header-background: #F55A5A;


* {
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
}

div {
    letter-spacing: -1px;
    padding: 2rem;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $header-background;
    color: white;
    margin: 0;
}

.header-div {
    width: 20rem;
}

h1 {
    display: inline;
    font-size: 1.3rem;

}

img {
    margin-right: 1%;
    width: 50px;
    filter: invert(100%) sepia(6%) saturate(7498%) hue-rotate(180deg) brightness(102%) contrast(106%);
}

body {
    background-color: white
}